footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bauhausBlack);
    color: var(--bauhausWhite);
    height: 34px;
    position: relative;
    bottom: 0;
}

footer > p {
    font-size: 8px;
}


.gibson-foot-btn {
    border-radius: 38px !important;
    padding: 0.15rem 0.55rem !important;
}

.gibson-foot-btn:hover {
    transition: .250s;
    background-color: rgb(60, 60, 60);
}


/* @media screen and (max-width: 992px) {
    footer {
    display: none;
    }
} */