/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap'); */

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 400px;
    max-height: 400px;
    /* min-height: 300px; */
}

.project-img {
    transition: 200ms ease-out;
    border: 1px solid var(--bauhausGrey);
    border-radius: 47%;
    box-shadow: -7px 0px 2px var(--bauhausRedBlur), 7px 0px 2px var(--bauhausBlueBlur);
}

.project-card:hover > .project-img {
    box-shadow: -11px -11px 2px var(--bauhausYellowBlur), -18px 9px 2px var(--bauhausRedBlur), 21px 6px 2px var(--bauhausBlueBlur);
    border: 1px solid rgb(240, 240, 240, .01);
}


.card-h4 {
    margin-top: 10px ;
}



/* Buttons */
.project-btn {
    margin-top: 10%;
    width: 70px;
    height: 36px;
    border-radius: 0.33rem !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
}

.project-btn > a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.project-btn-box {
    display: flex;
}

.project-link {
    font-size: 14px !important;
}

/* Responsive */
@media screen and (max-width: 1400px) {
    .project-card {
        min-height: 425px;
        max-height: 425px;
    }
}

@media screen and (max-width: 1200px) {
    .project-card {
        min-height: 445px;
        max-height: 445px;
    }
}

@media screen and (max-width: 992px) {
    .project-card {
        min-height: 395px;
        max-height: 395px;
    }
}

@media screen and (max-width: 768px) {
    .project-card {
        min-height: 410px;
        max-height: 410px;
    }
}

@media screen and (max-width: 576px) {
    .project-card {
        min-height: 420px;
        max-height: 420px;
    }
}

@media screen and (max-width: 400px) {
    .project-card {
        min-height: 440px;
        max-height: 440px;
    }
}