.resume-div {
    max-width: 400px;
    display: flex;

}

/* .resume-link {

} */

.resume-img {
    transition: 300ms ease-in;
    flex: 1 1 400px;
    max-width: 400px;
    box-shadow: 7px -7px 1px var(--bauhausYellowBlur), -7px 10px 1px var(--bauhausRedBlur), 12px 4px 1px var(--bauhausBlueBlur);
    border-radius: 5%;
}

.resume-img:hover {
    box-shadow: 15px -15px 2px var(--bauhausYellowBlur), -15px 20px 2px var(--bauhausRedBlur), 25px 8px 2px var(--bauhausBlueBlur);
}



/* bisections */
.bisection {
    padding-top: 40px !important;
}

.bisection-5 {
    transition: 300ms ease-out;
    border-right: 1px solid var(--bauhausGrey);
    height:500px
}

.bisection-h1 {
    padding-left: 35px;
    transition: 300ms ease-out;
}

/* hover over shadows bisection-5*/

.bisection-5:hover > div > .bisection-5-h1 {
    text-shadow: 0px 3px 0px var(--rotterdamRot), 0px 7px 0px var(--rotterdamPink);
}

.bisection-5:hover > div > p {
    background-color: inherit;
}


/* hover over shadows bisection-4*/
.bisection-6:hover > .bisection-6-h1 {
    text-shadow: 0px -3px 0px var(--rotterdamBlue), 0px -7px 0px var(--rotterdamTeal);
}

.bisection-6:hover > p {
    background-color: inherit;
}





@media screen and (max-width: 992px) {
    .bisection-5 {
        border-right: 0px solid white;
        border-bottom: 1px solid var(--bauhausGrey);
    }
}

@media screen and (max-width: 768px) {
    .resume-img {
        max-width: 300px;
    }
}

@media screen and (max-width: 576px) {
    .resume-img {
        max-width: 250px;
    }
}

