/*---------NAV BAR----------*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bauhausBlack);
    color: var(--bauhausWhite);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    padding: 10px;
    background-color: var(--bauhausBlack);
    color: var(--bauhausWhite);
}

.gibson-nav-brand {
    align-items: center;
    font-size: 36px;
    padding-top: 0.5rem;
    margin-left: 8px;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
    margin-block-start: 0px;
    margin-block-end: 10px;
}


ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 26px;
    margin: 5px 30px 5px 30px ;
    transition: 250ms ease-in-out;
}

a {
    text-decoration: none !important;
    color: var(--bauhausWhite) !important;
    letter-spacing: 1px;
    font-size: 26px;
}

ul > li:hover {
    transform: scale(1.05);
    text-shadow: 6px 0px 0px var(--bauhausBlue), -6px 0px 0px var(--bauhausRedBlur);
}

 li a:hover {
    transform: scale(1.15);
    text-decoration: none;
    color: var(--bauhausYellow) !important;
    /* transition: 30ms ease-in-out; */

}

.gibson-li-active {
    /* transition: 250ms ease-in-out; */
    transform: scale(1.05);
    text-shadow: 6px 0px 0px var(--bauhausBlue), -6px 0px 0px var(--bauhausRedBlur);
}

.gibson-a-active {
    /* transition: 250ms ease-in-out; */
    /* font-weight: 550; */
    transform: scale(1.15);
    color: var(--bauhausYellow) !important;
}


@media screen and (max-width: 768px) {
    .gibson-nav-brand {
        margin-left: 0px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        font-size: 22px;
        padding-top: 0rem;
        margin-block-end: 5px;
    }
    ul {
        flex-direction: column;
    }
    a {
        font-size: 16px;
    }
}