/*----------GENERAL DECLARATIONS--------------*/
:root {
    /* BAUHAUS PALLETTE */
    --bauhausWhite: white;
    --bauhausBlack: black;
    --bauhausRed: #cc006b;
    --bauhausYellow: #fff10c;
    --bauhausBlue: #0093d3;
    --bauhausGrey: rgb(205, 205, 205);
    --bauhausDarkGrey: rgb(125, 125, 125);
    --bauhausRedBlur: rgb(204, 0, 107, .75);
    --bauhausYellowBlur: rgb(255, 241, 12, .75);
    --bauhausBlueBlur: rgb(0, 147, 211, .75);

    /* ROTTERDAM PALLETTE */
    --rotterdamBlue: #0072BB;   
    --rotterdamRed: #ED1B24;
    --rotterdamWhite: white;
    --rotterdamBlack: Black;
    --rotterdamYellow: #fff480;
    --rotterdamTeal: #73C1A7;
    --rotterdamPink: #E790B3;
    --rotterdamPlum:#3D2C7A;
    --rotterdamPluot:#6965a7;
    --rotterdamAcai: #5444e6;   
    --rotterdamRot: #DB2429;
    --rotterdamLime: #abfd94;
    --rotterdamGreen: #28AC72;
    --rotterdamOlivine: #2e8a62;
    --rotterdamClementine: #ff993a;
    --rotterdamDreamsicle: #fdc897;
    --rotterdamLavender: #E1B0FE;

    /* KOLN PALETTE */
    --kolnSky: #7DB8C3;
    --kolnSky2: #75AFB7;
    --kolnGeld: #F2B040;
    --kolnCanola: #DBB07D;
    --kolnWhale: #67758F;
    --kolnZand: #D4C4BC;
    --kolnEgg: #E8E5DF;
    --kolnShark: #D1CFCD;
    --kolnSwartz: #272629;

}

* {
    /* font-size: 16px; */
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

html {
    font-family: Helvetica;
    scroll-behavior: smooth;

    /*Adds background color. Formerly .page-bg */
    background: linear-gradient(45deg, var(--bauhausWhite) 20%, var(--bauhausGrey));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}