/*----------GENERAL DECLARATIONS--------------*/
:root {

    --bauhausWhite: white;
    --bauhausBlack: black;
    --bauhausRed: #cc006b;
    --bauhausYellow: #fff10c;
    --bauhausBlue: #0093d3;
    --bauhausGrey: rgb(205, 205, 205);
    --bauhausDarkGrey: rgb(125, 125, 125);
    --bauhausRedBlur: rgb(204, 0, 107, .75);
    --bauhausYellowBlur: rgb(255, 241, 12, .75);
    --bauhausBlueBlur: rgb(0, 147, 211, .75);
}

* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica; 
}

html {
    font-family: Helvetica;
    scroll-behavior: smooth;
}


/*---------HEADER---------*/
header {
    display: block; 
    align-items: center;
    justify-content: center;
    height: 125px;
    background-color: var(--bauhausBlack);
    color: var(--bauhausWhite);
    font-family: Helvetica;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 110px;
    padding: 0.5rem 0rem 0rem 2.5rem ;
    font-weight: bolder;
    font-stretch: expanded;
}


/*---------NAV BAR----------*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bauhausBlack);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 26px;
    margin: 5px 30px 5px 30px ;
    transition: 250ms ease-in-out;
}

a {
    text-decoration: none;
    color: var(--bauhausWhite);
    letter-spacing: 1px;
}

ul > li:hover {
    transform: scale(1.05);
    text-shadow: 6px 0px 0px var(--bauhausBlue), -6px 0px 0px var(--bauhausRedBlur);
}

 li a:hover {
    transform: scale(1.15);
    text-decoration: none;
    color: var(--bauhausYellow)
}


/*--------BODY-----------*/
body {
    height: 100%;
    margin: 0px;
    color: var(--bauhausBlack);
    background: linear-gradient(45deg, var(--bauhausWhite) 20%, var(--bauhausGrey));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    zoom: 90%;
}


/*-----------HEADSHOT AND DESCRIPTION-------------*/
.headanddesc {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot {
    max-width: 300px;
    margin: 2rem 3rem 3rem 1rem ;
}

#headshot img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5%;
    flex: 1 1 300px;
    box-shadow: 15px -15px 2px var(--bauhausYellowBlur), -15px 20px 2px var(--bauhausRedBlur), 25px 8px 2px var(--bauhausBlueBlur);
}

#description {
    display: block;
    align-items: baseline;
    width: 60%;
    padding: 30px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 17px;
}

h3 {
    font-size: 34px;
    margin: 2rem 0px 1rem 5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.hrBauhaus1 {
    width: 50%;
    border: 3px solid var(--bauhausBlack);
    color: var(--bauhausBlack);
}

.hrBauhaus2 {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    border: 3px solid var(--bauhausBlack);
    color: var(--bauhausBlack);
}


/*-----------------FEATURED PROJECTS-----------------------------*/
.macroCard1 {
    display: flex;
    justify-content: center;
}

.featuredCard1 {
    display: flex;
    padding: 20px;
    margin: 5px;
}

h4 {
    display: flex;
    justify-content: flex-end;
}

.featuredimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 500px;
    width: 750px;
    font-size: 38px;
    border-radius: 30px;
    transition: ease-in-out .2s;
    box-shadow: 20px 10px 4px 2px rgba(19, 19, 61, 0.2), -1px -1px 1px 1px var(--bauhausBlueBlur), 1px 1px 1px 1px var(--bauhausYellowBlur);
    text-shadow: 6px 7px 5px var(--bauhausBlack), 0 0 8px var(--bauhausBlack);
}

.featuredCard1 a {
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 500px;
    width: 750px;
    border-radius: 30px;
    text-align: center;
    font-size: 56px;
    color: var(--bauhausWhite);
}

.featuredimg:hover {
    box-shadow: -30px 30px 2px var(--bauhausBlueBlur), 30px -30px 2px var(--bauhausYellowBlur);
    transform: scale(1.005);
    text-shadow: none;
    border: 9px solid var(--bauhausRed);
}

.featuredimg a:hover {
    color: transparent;
}

#project5 a {
    background-image: url(./images/refactor-for-accessibility.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*-------------------ALL PROJECTS---------------------------*/
.macrocard2 {
    display: flex;
    justify-content: center;
}

.projectCard2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 5px;
}

.projectimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 400px;
    width: 450px;
    font-size: 36px;
    border-radius: 30px;
    transition: ease-in-out .2s;
    box-shadow: 20px 10px 4px 2px rgba(19, 19, 61, 0.2), -1px -1px 1px 1px var(--bauhausRedBlur), 1px 1px 1px 1px var(--bauhausYellowBlur);
    text-shadow: 6px 7px 6px var(--bauhausBlack), 0 0 8px var(--bauhausBlack);
}

.projectCard2 a {
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 400px;
    width: 450px;
    border-radius: 30px;
    text-align: center;
    font-size: 56px;
    color: var(--bauhausWhite);
}

.projectimg:hover {
    box-shadow: 30px -30px 2px var(--bauhausYellowBlur), -30px 30px 2px var(--bauhausRedBlur);
    transform: scale(1.005);
    text-shadow: none;
    border: 7px solid var(--bauhausBlue);
}

.projectimg a:hover {
    color: transparent;
}

#project1 {
    background-image: url(./images/rufus-page.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#project2 {
    background-image: url(./images/wumbo-box.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#project3 {
    background-image: url(./images/greek-case-converter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#project4 {
    background-image: url(./images/group-mini-project-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*-----------------FOOTER-----------------------------*/
footer {
    display: flex;
    justify-content: space-evenly;
}

.contactIcon {
    display: inline-block;
    height: 170px;
    width: 170px;
    border-radius: 85px;
    background-color: var(--bauhausYellow);
    transition: ease-in-out .2s;
    margin: 20px 30px 40px 30px;
    box-shadow: 6px 7px 4px 2px rgba(19, 19, 61, 0.2), -1px 1px 1px 1px var(--bauhausRedBlur), 1px -1px 1px 1px var(--bauhausBlueBlur);
}

.contactIcon a {
    display: flex;
    justify-content: center;  
    height: 170px;
    width: 170px;
    border-radius: 85px;
    color: transparent;
}

.contactIcon:hover {
    transform: scale(1.15);
    box-shadow: 12px 10px 2px var(--bauhausBlue), -12px -12px 2px var(--bauhausRedBlur);
}

#contact1 {
    background-image: url(./images/linkedin-icon.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

#contact2 {
    background-image: url(./images/email-icon.png);
    background-repeat: no-repeat;
    background-size: 125px;
    background-position: center;
}

#contact3 {
    background-image: url(./images/github-icon.png);
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: center;
}


/*-----------BREAKPOINTS RESPONSIVE LOGIC---------------*/

@media screen and (max-width: 1156px) {
    .projectCard2 {
        align-items: center;
        flex-direction: column;
        width: 95%;
        }
}

@media screen and (max-width: 846px) {
    .headanddesc {
        display: flex;
        flex-direction: column;
    }

    .featuredCard1 {
        width: 90%;
    }

    .featuredCard1 a {
        width: 90%;
    }

    #project5 a {
        background-position: center;
    }        
}

@media screen and (max-width: 685px) {
    #project5 a {
        font-size: 80%;
    }

    header {
        height: fit-content;
    }

    header h1 {
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 8px;
    }

    ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .projectCard2 {
        width: 90%;
        flex-direction: unset;
    }

    .projectCard2 a {
        width: 90%;
        font-size: 80%;
    }
    
    #project1 a, #project2 a, #project3 a, #project4 a {
        background-position: center;
    }     
}

@media screen and (max-width: 465px) {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 90px;
        padding: 0.5rem 0rem 0rem 1.5rem ;
        }
}

@media screen and (max-width: 372px) {
    #headshot img{
        max-width: 250px;
        max-height: 250px;
    }
}